<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>支出登録</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>支出を追加する</h1>

    <form th:action="@{/spending/add}" th:object="${spendingForm}" method="post">
        <label>ユーザー名：</label>
		<input type="text" th:field="*{userName}" readonly />
        
        <label>日付：</label>
        <input type="date" th:field="*{date}" required /><br/>

        <label>支出額（円）：</label>
        <input type="number" th:field="*{total_spent}" required /><br/>

        <button type="submit">登録</button>
    </form>

    <a th:href="@{/home}">ホームに戻る</a>
</body>
</html>
